main .main__projects {
  width: 90%;
  max-width: 684px;
  margin: 0 auto;
  margin-top: 34px;
}
.main__projects .projects--projectItem {
  width: 90%;
  min-width: 284px;
  max-width: 324px;
  height: 194px;
}
.project__projectItem .projectItem {
  max-width: 486px;
  min-height: 228px;
  max-height: 258px;
}
.projectItem__info h2 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
}
.projectItem__info h3 {
  margin: 8px auto;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
}
/*ABOUT ME*/
.main__aboutme .aboutme__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.aboutme__container .infoContent {
  height: 392px;
}
.infoContent:first-child {
  margin-right: 84px;
}
